<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BookStore-miniproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cart</servlet-name>
    <servlet-class>com.servlets.demo.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginuser</servlet-name>
    <servlet-class>com.servlets.demo.ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginuser</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertuser</servlet-name>
    <servlet-class>com.servlets.demo.InsertUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertuser</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertcat</servlet-name>
    <servlet-class>com.servlets.demo.InsertCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertcat</servlet-name>
    <url-pattern>/insertcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatecat</servlet-name>
    <servlet-class>com.servlets.demo.UpdateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecat</servlet-name>
    <url-pattern>/updatecat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delcat</servlet-name>
    <servlet-class>com.servlets.demo.DelCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delcat</servlet-name>
    <url-pattern>/delcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cat</servlet-name>
    <servlet-class>com.servlets.demo.CatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cat</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>categories</servlet-name>
    <servlet-class>com.servlets.demo.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categories</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>produ</servlet-name>
    <servlet-class>com.servlets.demo.ProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produ</servlet-name>
    <url-pattern>/prod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prod</servlet-name>
    <servlet-class>com.servlets.demo.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prod</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
</web-app>